# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!include /etc/mysql/conf.d/charset.cnf
!include /etc/mysql/conf.d/engine.cnf
!include /etc/mysql/conf.d/logging.cnf
!include /etc/mysql/conf.d/networking.cnf
!include /etc/mysql/conf.d/security.cnf
!include /etc/mysql/conf.d/slowlog.cnf
!include /etc/mysql/conf.d/tuning.cnf

